---
export interface Props {
  id: string;
  label?: string;
}

const { id, label } = Astro.props;
---

<label for={id}>
  <div class="flex items-center">
    <input aria-hidden id={id} type="checkbox" class="peer sr-only" />
    <div
      class="shrink-0 w-5 h-5 bg-white border-2 border-white rounded relative before:absolute before:hidden before:w-1.5 before:h-3 before:left-1.5 before:top-0 before:border-primary before:border-b-2 before:border-r-2 before:rotate-45 peer-checked:before:block"
    >
    </div>
    <span class="ml-2 text-sm">{label}</span>
  </div>
</label>
